html {
  position: relative;
  min-height: 100%; }

body {
  min-height: 100%;
  /*background-color: #404043;*/
  position: static;
  /*color: #b6b6b6;*/
}

body .main-wrap {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: #1A1A1A;*/
}

.pagination li a {
  margin: 5px;
}

.active {
  font-weight: bold;
}