{% extends 'base.html.twig' %}

{% block title %}{{ "Dashboard" | trans() }}{% endblock %}

{% block body %}
    <div>
        <a target="_blank" href="{{ path('export_file', {'id': 4}) }}"><i class="fa fa-fw fa-download text-inverse"></i> {{ 'Export file' | trans() }}</a>
    </div>
    {% set vars = {'uploadFilePath' : path('upload_file')} %}
    {% include 'partial/upload_files_form.html.twig' with vars %}
{% endblock %}
