{% extends 'base.html.twig' %}

{% block title %}{{ "Dashboard" | trans() }}{% endblock %}

{% block body %}
    {#<form action="" method="post" enctype="multipart/form-data">#}
        {#<input type="file" name="file[]">#}
        {#<input type="submit" value="Отправить">#}
    {#</form>#}

    {% set vars = {'uploadFilePath' : path('upload_file')} %}
    {% include 'partial/upload_files_form.html.twig' with vars %}
{% endblock %}
